In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
data = pd.read_csv('data/train.csv')
target = pd.read_csv('data/trainLabels.csv')

x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.25, random_state=42)

clf = GradientBoostingClassifier(random_state=7)

In [3]:
n_estimators = range(10, 500, 5)
max_depth = range(1, 100, 2)
param_grid = dict(n_estimators=n_estimators, max_depth=max_depth)

grid_search = GridSearchCV(clf, param_grid, scoring='neg_mean_squared_error', n_jobs=-1, verbose=1, cv=5)

grid_result = grid_search.fit(x_train, y_train)

Fitting 5 folds for each of 4900 candidates, totalling 24500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    1.6s
[Parallel(n_jobs=-1)]: Done 254 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done 627 tasks      | elapsed:   13.6s
[Parallel(n_jobs=-1)]: Done 977 tasks      | elapsed:   36.3s
[Parallel(n_jobs=-1)]: Done 1427 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 1977 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 2627 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 3377 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 4227 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 5177 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 6227 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 7377 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 8627 tasks      | elapsed:  7.5min
[Parallel(n_jobs=-1)]: Done 9977 tasks      | elapsed:  8.6min
[Parallel(n_jobs=-1)]: Done 11427 tasks      | elapsed:  9.9min
[Parallel(n_jobs=-1)]: Done 12977 tasks      | elapsed: 11.2min
[Parallel(n_jobs=-1)]: Done 14627 tasks      | elapsed: 12.7min
[Parallel(n_jobs=-1)]: Done 16377 tasks      | elapsed: 14.2min
[Parallel(n_jobs=-1)]: Done 18227 tasks      | elapsed: 15.8min
[Parallel(n_jobs=-1)]: Done 20177 tasks      | elapsed: 17.6min
[Parallel(n_jobs=-1)]: Done 22227 tasks      | elapsed: 19.4min
[Parallel(n_jobs=-1)]: Done 24377 tasks      | elapsed: 21.3min
[Parallel(n_jobs=-1)]: Done 24500 out of 24500 | elapsed: 21.5min finished
C:\Users\peng1\Anaconda3\envs\myMLEnv\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [4]:
print('Best Accuracy: %f using %s' % (grid_result.best_score_, grid_result.best_params_))

Best Accuracy: -0.114820 using {'max_depth': 5, 'n_estimators': 115}

In [5]:
grid_result.best_params_

{'max_depth': 5, 'n_estimators': 115}

In [6]:
clf_bestparam = GradientBoostingClassifier(max_depth=grid_result.best_params_['max_depth'], 
                                          n_estimators=grid_result.best_params_['n_estimators'])

clf_bestparam.fit(x_train, y_train)
clf_bestparam.score(x_test, y_test)

C:\Users\peng1\Anaconda3\envs\myMLEnv\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.852

In [7]:
test = pd.read_csv('data-science-london-scikit-learn/test.csv', header=None)

y_pred = clf_bestparam.predict(test)
index_column = np.arange(1, y_pred.shape[0] + 1)
data_submission = pd.DataFrame(y_pred, columns=['Solution'], dtype=int)
data_submission['Id'] = index_column
data_submission.index.name = 'Id'
data_submission.set_index(index_column)

      Solution    Id
1            1     1
2            0     2
3            1     3
4            0     4
5            0     5
6            0     6
7            0     7
8            1     8
9            0     9
10           0    10
11           1    11
12           1    12
13           1    13
14           0    14
15           0    15
16           1    16
17           0    17
18           1    18
19           0    19
20           1    20
21           0    21
22           1    22
23           1    23
24           0    24
25           1    25
26           1    26
27           1    27
28           0    28
29           1    29
30           0    30
...        ...   ...
8971         1  8971
8972         0  8972
8973         1  8973
8974         0  8974
8975         1  8975
8976         1  8976
8977         0  8977
8978         1  8978
8979         1  8979
8980         1  8980
8981         1  8981
8982         1  8982
8983         1  8983
8984         0  8984
8985         0  8985
8986         1  8986
8987         0  8987
8988         0  8988
8989         1  8989
8990         0  8990
8991         0  8991
8992         1  8992
8993         0  8993
8994         1  8994
8995         1  8995
8996         1  8996
8997         1  8997
8998         1  8998
8999         0  8999
9000         1  9000

[9000 rows x 2 columns]

In [8]:
data_submission.to_csv('Day_048_submission.csv', index=False)